body {
 font-family: 'Roboto', sans-serif;
 background-color: #F6F5FF;
 color: #353535;
 margin: 0;
 padding: 0;
}

/* Стили для заголовков */
h1 {
 font-size: 36px;
 font-weight: bold;
}

/* Стили для параграфов */
p {
 font-size: 16px;
 line-height: 1.5;
 margin-bottom: 20px;
}

header{
    width: 100%;
    height: 80px;
    background-color: #C9CEEA;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-wrapper{
    display: flex;
    position: relative;
}
.container{
    width: 1240px;
    height: 100%;
}
.logo{
    width: 120px;
    height: 120px;
    background-color: #C9CEEA;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 40px;
}
.logo img{
    width: 80px;
    height: 80px;
}
.search{
    margin-left: 60px;
}

.search form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
}

.search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.search .fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

.search form:hover{
    width: 200px;
    cursor: pointer;
}

.search form:hover input{
    display: block;
}

.search form:hover .fa{
    background: #C9CEEA;
    color: white;
}

.search-icon{
    width: 20px;
    height: 20px;
}
.tables-links{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 100px;
    margin-left: 120px;
    right: 40px;
}
.tables-links a{
    font-family: 'Roboto';
    font-weight: 700;
    text-decoration: none;
    color: #353535;
    transition: color 0.5s ease, border-bottom 0.5s ease;
    position: relative;
    height: 96%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.tables-links a::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(to right, #7567f8, #7567f8);
    transform: scaleX(0);
    transition: transform 0.5s ease;
}
.tables-links a:hover::before{
    transform: scaleX(1);
}

.tables-links a:hover{
    color: #7567f8;
}

.content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.content{
    width: 1200px;
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}
.storage-info{
    background-color: #C9CEEA;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    border-radius: 40px;
    max-height: 600px;
}
.storage-info__title{
    font-family: 'Roboto';
    font-weight: 700;
    background-color: #F6F5FF;
    padding: 20px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
}
.storage-info__images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
}
.storage-info__images img{
    width: 100px;
    height: 100px;
}
.tables-info{
    position: relative;
}
.slider{
    position: relative;
    max-width: 800px;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #C9CEEA;
    border-radius: 40px;
    height: 600px;
  }
  .slide-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
  }
  .slide-title img{
    width: 100px;
    height: 100px;
  }
  .slide-title__name{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    background-color: #B7BFED;
    color: #FFFFFF;
    padding: 30px 80px 30px 80px;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .slide-subcontent{
    font-weight: 600;
    height: 100%;
  }
  .slide-subtitle{
    padding: 20px 0 40px 0;
  }
  .table-attributes{
    display: grid;
    gap: 35px;
    row-gap: 50px;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .table-attribute{
    background-color: #F6F5FF;
    height: 60px;
    width: 180px;
    border-radius: 20px;
    background-color: #F6F5FF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
  }

  .swiper-slide img {
    display: block;
    object-fit: cover;
  }
 
 .swiper-button-next, .swiper-button-prev {
    color: #C9CEEA;
    background-color: #F6F5FF;
    padding: 10px;
    border-radius: 10px;
    transition: all .3s;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.3);
 }
 .swiper-button-next:hover, .swiper-button-prev:hover{
    background-color: #7284e8;
    color: #F6F5FF;
    transform: scale(1.1);
 }
 
 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }

.footer-wrapper{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #C9CEEA;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
gap: 30px;
color: #353535;
font-weight: 500;
}
.footer-content img{
    width: 80px;
    height: 80px;
}